* {
    text-align: center;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: aliceblue;
}

.gameBoard {
    width: 380px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
}

.historyList {
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.highlight {
    background-color: rgb(204, 221, 255, 0.4);
}

.userInput {
    font-size: 20px;
    border: none;
    width: 200px;
    height: 60px;
    border-bottom: 4px solid black;
    border-radius: 9px;
    outline: none;
}

.startButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: cadetblue;
    background-color: lightskyblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.startButton:active {
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}